[submodule "src/main/resources/Furry_Friend_Notification_Security"]
	path = src/main/resources/Furry_Friend_Notification_Security
	url = https://github.com/Team-Furry-Friend/Furry_Friend_Notification_Security.git
